<table>
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Horario Desde
            </th>
            <th>
                Horario Hasta
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of doctors" (click)="selectDoctor($event)">
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.surname}}
            </td>
            <td>
                {{item.email}}
            </td>
            <td>
                {{item.speciality}}
            </td>
            <td>
                {{item.workingHours[0]}}
            </td>
            <td>
                {{item.workingHours[1]}}
            </td>
        </tr>
    </tbody>
</table>

<!-- <button (click)="selectDoctor($event)">Evento</button> -->
