<p>
    <a href="home">CLINICA MÉDICA</a> 
</p>


<div class="row">
    
    <div style="left: left;">

        <button class="btn btn-primary" (click)="toLogin()">Iniciar Sesión</button>
        
        <button class="btn btn-primary" (click)="toRegister()">Registrarse</button>
    </div>

    <div style="float: right;">

        <button class="btn btn-primary" (click)="toProfile()">Ver Perfil</button>
        
        <button class="btn btn-danger" (click)="logout()">Cerrar Sesión</button>
    </div>
</div>
    
<!-- Mostrar botones de iniciar sesión y registro si no se loggea, si está loggeado entonces mostrar ver perfil y cerrar sesión --> 