/* You can add global styles to this file, and also import other style files */

$form-color: #E6E6E6;
$detail-color: #24CD85;

.form {

    background-color: $form-color;
    // text-align: center;
    align-content: center;


}

.frm-btn {
    margin: 10px;
}


img {
    width: 200px;
    height: 200px
}